{% load static %}
{% url 'home' as home_url %}
{% url 'patients' as patients_url %}
{% url 'patients_form' as patients_form_url %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
<!--TODO zrobić przycisk wstecz-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == home_url %}active{% endif %}" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == patients_url %}active{% endif %}" href="{% url 'patients' %}">Patients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == patients_form_url %}active{% endif %}" href="{% url 'patients_form' %}">Add patient</a>
                </li>
            </ul>
        </div>
    </div>

    {% block content %}

    {% endblock %}
    <br>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="{% static 'scripts/bootstrap.js/bootstrap.js' %}" defer async></script>

</body>
</html>